/* Styles for categories */
.posts-content {
    display: inline-block;
    padding: 0 20px;
}
.posts-content div {
    border-bottom: none;
    display: inline-block;
    width: 100%;
}
.category-thumb{
	float: left;
}
.list-of-posts{
	display: table;
}
.list-of-posts img{
	width: 250px;
	height: 100%;
}
.list-of-posts .read-more{
	float: none;
}