/* Styles for categories */
.posts-content {
    display: table;
    padding: 0 0 0 20px;
     
}
.posts-content div {
    border-bottom: none;
    display: inline-block;
    width: 100%;
}
.category-thumb{
	float: left;
}
.list-of-posts {
    display: block;
    margin: 10px 0;
}
.list-of-posts img{
	width: 250px;
	height: 100%;
}
.list-of-posts .read-more{
	float: none;
}
.category .page_half{
	width: 48%;
}

@media only screen and (max-width: 767px){
	.category-thumb {
	    float: none;
	    margin: 0 auto;
	    text-align: center;
	}
	.posts-content{
		text-align: center;
		border-bottom: 1px solid #efefef;
		margin: 0 auto 15px;
		padding: 0;
	}
	.category-events .posts-content {
	    text-align: left !important;
	}
}
