/* Styles for pages */


.page_wrap {
	position: relative;
	width:69%;
    padding: 30px 55px;
    width: 59%;
    margin-top: 40px;
}

.left-0{
	left: 0 !important;
}
.page .categories ~ li{
	list-style: none;
}