/* Styles for single posts */

/* UNIQUE BACKGROUND IMAGE */
.post-bg{
	width: 100%;
    padding: 45px 0;
/*background: linear-gradient(rgba(50, 57, 72, 0.4), rgba(50, 57, 72, 0.4)), rgba(50, 57, 72, 0.4) url(../images/marijuana.jpg);
    background-size: cover;*/
}

/**/
.cover-story h1 {
    color: #221e20 !important;
    text-shadow: none !important;
    font-size: 43.09px !important;
}

.story-title-wrap{
    margin-left: 55px;
    width: auto;
}
.single h2, .single h3, .single p{
	color: #666565;
} 
.single h1{
	text-shadow: 1px 1px 1px grey;
}
.single .cover-content{
    padding: 30px 0 0;
}
.single.cover-snippet-wrap h1 {
    margin-bottom: -35px !important;
}
.post_content {
    padding: 30px 55px;
    width: 59%;
    margin-top: -15px;
}
.post_content img {
    height: auto;
}
.single .news-group, .single .news-group h2 {
	background: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.single h1, .single .news-feed h3, .single .news-group h2 , .single .news-feed p, p.byline, p.post-date, .news-signup p{
	color: white;
	margin: 0;
}
.post_content p{
	font-size: 1.142857em;
}
.byline{
	font-weight: 700;
	margin: 15px 0 0 0 !important;
}
.post-date{
	font-weight: 400;
}
span.post-category-info{
        position: relative;
}
.author-image{
    margin-right: 15px;
       width: 60px;
    height: 60px;
        border-radius: 50%;
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
}
.author-image, .author-info{
    display: inline-block;
    float: left;
}
.author-image img{
 
}
.byline-wrap{
    position: relative;
    top: -30px;
    right: -15px;
}
.page_three_quarter span.post-category-info{
	left: 0;
}

.pull-quote,.pull-quote-left,.pull-quote-right {
    width: 90%;
    padding: 20px 5%;
    border-top: 5px solid #4e9f26;
    font-size: 25px !important;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 35px 0 55px 0 !important;
    color: #666565;
}
.pull-quote-left{
	float: left;
    width: 50%;
    margin-right: 25px !important;
    text-align: left;
    text-indent: 25px;
    padding: 20px 0;
}
.pull-quote-right{
	float: right;
    width: 50%;
    margin-left: 25px !important;
    text-align: left;
    text-indent: 25px;
    padding: 20px 0;
}
/*  SOCIAL SHARING ICONS */
.apss-theme-3  .apss-single-icon a{
    border-radius: 10px;
}

.apss-theme-3  .apss-single-icon a[title="Share on Pinterest"] {
    border-radius: 36px;
}
/* COMMENTS SECTION */
.comments-section {
    text-align: right;
}
.comment-btn {
    background: #e35539;
    padding: 12px 45px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .12em;
    margin-bottom: 20px;
    display: inline-block;
}
#respond{
    display: none;
}

#respond input#submit {
    background: #4e9f26;
    border: none;
    padding: 10px;
    color: white;
}
ol.commentlist {
    list-style: none;
}
/****** Cover Story Single Post Styles ******/

.cover-story .cover-snippet-wrap{
    top: 155px;
}

.post-bg.cover-story{
    padding: 190px 0;
}
/* Tablet & Small Desktop*/
@media only screen and (max-width: 1150px){
    .post_content{
        width: 90%;margin:0;padding: 10px 5%;
    }
}


/*- Mobile Styles Large */
@media only screen and (max-width: 767px){
    .byline-wrap {
        top: 0px;
        right: 0px;
    }
    .byline-wrap p.byline, .byline-wrap p.post-date{
        color: #666565;
    }
    .author-image, .author-info {
        display: block;
        float: left;
        margin-bottom: 10px;
    }
	
    .story-title-wrap{
        margin-left: 0;
    }
    .post-bg.cover-story {
        padding: 0px 0 165px;
    }


    /*social sharing */
    .apss-social-share.apss-theme-4{
        text-align: center;
    }
    .apss-single-icon{
        display: inline-block;
    }
}