/* Styles for single posts */
.single .page_content {
    padding: 30px 55px;
}

.single .news-group{
	background: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.single .news-group h2 {
	color: white;
	background: none;
}
.single .news-feed h3, .single .news-feed p{
	color: white;
}